<style>
    section h1{background:#333;}
    p{padding:5px 10px;}
</style>
<h1>About</h1>

<p>2G News is built around the idea that if you build a website that runs fast on a 2G mobile phone, it will feel instant on all other devices and platforms.</p>

<h2>Techincal info</h2>

<p>Built using a Node.js and Express JS back end, hosted on Heroku, with CDN via Amazon Cloudfront.</p>

<p>From the ground up we build for speed, meaning that HTML, CSS and JS is minified then served with GZIP compression via our CDN.</p>

<p>We also avoid using code when we don't have to, so minimal CSS classes. No loading of external JS analytics tools or adverts, if we do add either we will choose a platform that is fast with a great privacy policy.</p>
