<style>
    section h1{background:#333;}
    p{padding:5px 10px;}
</style>
<h1>About</h1>

<p>2G News is built around the idea that if you build a website that runs fast on a 2G mobile phone, it will feel instant on all other devices and platforms.</p>