<style>
section h1{background:#333;}
</style>
<h1>Home</h1>

<ul>
    <li><a href="/news">News</a></li>
    <li><a href="/news/tech">Tech</a></li>
    <li><a href="/football">Football News</a></li>
    <li><a href="/football/reports">Match reports</a></li>
    <li><a href="/football/norwich">Norwich</a></li>
</ul>
