<style>
section h1{background:#360;}
</style>
<h1>{{ title }}</h1>

<ul>
{{#each news_items}}
<li>
    <strong>{{webTitle}}</strong><br>
    {{{fields.trailText}}}<br>
    <a href="{{ webUrl }}/amp">Read more &raquo;</a>
</li>
{{/each}}
</ul>