<style>
    section h1{background:#333;}
    p{padding:5px 10px;}
</style>
<h1>Test</h1>

Mobile = {{ is_mobile }}<br>
Tablet = {{ is_tablet }}<br>
Desktop = {{ is_desktop }}<br>
TV = {{ is_tv }}<br>
