@import 'theme-variables';
body {
    background: #fff;
}
    
@media(min-width:420px) {
	section {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
	#news, #sport, #ents {
		flex-grow: 2;
		float: left;
		display: inline-block;
        width: 33%;
	}
}
h2 {
	padding: 5px 10px;
}
h2 a {
	color: #fff;
	text-decoration: none;
}
#news h2, #news .section-list li {
	background: $news-colour;
}
#sport h2, #sport .section-list li {
	background: $sport-colour;
}
#ents h2, #ents .section-list li {
	background: $ents-colour;
}
.lead img {
	max-width: 100%;
	height: auto;
	display: block;
	margin-bottom: 5px;
}
.section-list {
    margin-bottom: 10px;
}
.section-list li {
    display: inline-block;
    margin: 15px 0;
}
.section-list li a {
    padding: 10px 20px;
    margin: 5px 10px;
    background: #eee;
    color:#fff;
    border-radius:40px;
    text-decoration:none;
}