@import 'theme-variables';
body {
    background: #fff;
}
    
@media(min-width:420px) {
	section {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
	section div {
		flex-grow: 2;
		float: left;
		display: inline-block;
	}
}
h2 {
	padding: 5px 10px;
}
h2 a {
	color: #fff;
	text-decoration: none;
}
#news {
	background: $news-colour;
}
#sport {
	background: $sport-colour;
}
#ents {
	background: $ents-colour;
}
section ul li img {
	max-width: 100%;
	height: auto;
	display: block;
	margin-bottom: 5px;
}