@import 'theme-variables';

body { 
    font-size:16px;
    line-height: 24px;
}

section h1 {
	background: #333;
}
h2 {
	padding: 10px 20px;
}
h2 a {
	color: #fff;
	text-decoration: none;
}
#news {
	background: $news-colour;
}
#sport {
	background: $sport-colour;
}
#ents {
	background: $ents-colour;
}